   .vue-sp-wrapper {
            position: absolute;
            top: 0px;
            height: 4px;
            background:transparent;
            width: 100%;
            z-index: 10000;
        }
        .vue-sp-indicator {
            width: 30%;
            background: #fc0;
            height: 4px;
        }